@model ComputerGamesLibrary.Models.UserModel

<div class="row username-row">
    @Html.LabelFor(model => model.Username)
    <div>
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row password-row">
    @Html.LabelFor(model => model.Password)
    <div>
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row model-validation-row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
