@model ComputerGamesLibrary.Models.UserModel

<div>
    @Html.LabelFor(model => model.Username)
    <div>
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
</div>
<div>
    @Html.LabelFor(model => model.Password)
    <div>
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
</div>
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
