@model ComputerGamesLibrary.Models.UserComputerGame

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this game?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearPublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    <form asp-controller="UserComputerGames" asp-action="DeleteConfirmed" method="post" role="form">
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete" class="btn delete-button" />
        </div>
    </form>
    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "link-text" })
    </div>
</div>
