@model ComputerGamesLibrary.Models.UserComputerGamesViewModel

@{
    ViewBag.Title = "Computer Games Library";
}

<div class="row">
    <form asp-controller="UserComputerGames" asp-action="Index" method="get" class="form-inline">
        <div class="form-group filter-form-group">
            <label>Genre</label>
            @Html.DropDownListFor(model => model.GameGenre, Model.Genres, "All", new { @class = "form-control genre-dropdown" })
        </div>
        <div class="form-group filter-form-group">
            <label>Year</label>
            @Html.DropDownListFor(model => model.SelectedYear, Model.Years, "All", new { @class = "form-control year-dropdown" })
        </div>
        <div class="form-group filter-form-group">
            <label>Title</label>
            @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SearchString, "", new { @class = "text-danger" })
        </div>
        <div class="form-group filter-form-group pricerange-form-group">
            <label>Price Range</label>
            @Html.EditorFor(model => model.FromPrice, new { htmlAttributes = new { @class = "form-control price-input" } })
            <span>-</span>
            @Html.EditorFor(model => model.ToPrice, new { htmlAttributes = new { @class = "form-control price-input" } })
        </div>
        <div class="form-group form-controls-group">
            <input type="submit" value="Filter" class="btn default-button filter-button" />
            @Html.ActionLink("Reset", "Index", null, new { @class = "link-text" })
        </div>
    </form>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>

<div class="row">
    @Html.ActionLink("Add New", "Add", null, new { @class = "btn default-button" })
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].YearPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Games) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { id=item.ID }, new { @class = "btn default-button" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn delete-button" })
        </td>
    </tr>
}

</table>
